.container {
  padding-top: 100px;
  text-align: center;
}
.width-50 {
  width: 20%;
}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 42%;}
.width-25{width: 25%;}

.register{
  width: 20%;
  font-size: large;
  background-color: blue;
  color: white;
}