<app-header></app-header>
<div class="container">
    <h2>Register with your Email and Password</h2>
    <form [formGroup]="register" (ngSubmit)="registerUser()" method="post">
        <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Ex. pat@example.com" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-50">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-50 ml-2">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-50">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-50 ml-2">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPass">
        </mat-form-field>
        <br>
        <button mat-raised-button class="register" [disabled]="register.invalid">Register</button>
    </form>
</div>